.admin-profile-container {
  display: flex;
  min-height: 100vh;
  background-color: #FFFDF9;
}
.admin-profile-content {
  flex: 1;
  margin-left: 5%;
  background: #FFFDF9;
}
.admin-profile-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.admin-profile-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin-profile-title {
  font-size: 2rem;
  margin-bottom: 8px;
}
.admin-profile-subtext{
  color: #666;
  font-size: 1rem;
}

.profile-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.admin-detail-section{
    /* background-color: red; */
    display: flex;
    gap: 2rem;
}
.admin-detail-section {
  /* background: #8b3232; */
  border-left: 3px solid #F67227;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.admin-detail-section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.admin-icon {
  width: 80px;
  height: 80px;
  background: #F67227;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #e4e4e4;
  font-size: 2rem;
}


.admin-info h3 {
  margin: 0;
}

.admin-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-badge {
  background: #007bff;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 10px;
}

/* Form Section */

.form-card {
  /* background: #8b3232; */
  border-left: 3px solid #F67227;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
}

.save-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.save-btn:hover {
  background: #005fcc;
}
