* {
  margin: 0;
}

.landingPage-container {
  min-height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative;
  z-index: 100; */
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  z-index: 100;
  /* background-image: url("images/background.jpg"); */
  /* background: linear-gradient(135deg, #F2CEAE 0%, #D5A78F 100%); */
}

.landingPage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 600px;
  text-align: center;
}

.landingPage-heading {
  font-size: 6rem;
  font-weight: 800;
  color: #F17604;
  letter-spacing: 3px;
  line-height: 1px;
  backdrop-filter: blur(.8px);
  background: rgba(255, 255, 255, 0.2);
}

.landingPage-subtext {
  font-size: 1.5rem;
  color: #5a4a42;
  line-height: 1.6;
  font-weight: 600;
  max-width: 500px;

  backdrop-filter: blur(.8px);
  background: rgba(255, 255, 255, 0.2);
}

.login-signup {
  margin-top: 1rem;
}

.login-home {
  padding: 0.8rem 2.5rem;
  background-color: #F17604;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
}

/* .blur-effect{
    backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.2);
 padding: 1rem 1.5rem;
 border-radius: 12px;
} */