* {
  margin: 0;
}
.landingPage-container {
  background-color: #F2CEAE;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2rem;
  justify-content: center;
}
.landingPage-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2rem;
  /* background-color: #FFFFFF; */
}
.landingPage-heading {
  /* font-family: "Edu AU VIC WA NT Guides", cursive; */
  font-weight: 500;
  font-style: normal;
  font-size: 3.6rem;
  background-color: #FFFFFF;
}
.landingPage-subtext {

  /* font-family: "Delius", cursive; */
  font-weight: 500;
  /* font-style: normal; */
  width: 35%;
  text-align: center;
    font-size: 18px;
    background-color: #FFFFFF;
  /* font-weight: 400 ;
  font-size: 16px; */
}
.login-signup{
  display: flex;
  gap: 1rem;
}
.signup-home, .login-home{
  text-decoration: none;
  background-color: #F8BC9F;
  padding: 15px;
  width: 150px;
  border-radius: 9999px;
  text-align: center;
}
