.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 95vh;
  width: 80px;
  background-color: #fffdf9;
  border-right: 2.5px solid #F67227;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  /* box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05); */
}

.sidebar-logo {
  /* background-color: #ff6b6b; */
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

.sidebar-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.sidebar-link {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b8b8b;
  text-decoration: none;
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background-color: #f3f3f3;
  color: #222;
}

.sidebar-link.active {
  background-color: #F67227;
  color: white;
}

.sidebar-icon {
  font-size: 22px;
}

.sidebar-tooltip {
  position: absolute;
  left: 60px;
  background-color: #222;
  color: white;
  font-size: 0.75rem;
  padding: 5px 8px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar-link:hover .sidebar-tooltip {
  opacity: 1;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.sidebar-avatar {
  width: 48px;
  height: 48px;
  background-color: #f3f3f3;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.avatar-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.logout-btn {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #888;
  transition: all 0.2s ease;
  font-size: 22px;
}

.logout-btn:hover {
  color: red !important;
}
